.account{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrap{
    width: 285px;
}

label{
    line-height: 2.5715 !important;
    color: white;
}
